<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-start">PokeExplorer</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="color-palette-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides [options]="{ slidesPerView: 1.2, spaceBetween: 10 }">
    <ion-slide *ngFor="let pokemon of pokemons">
      <ion-card>
        <img [src]="pokemon.image" alt="{{ pokemon.name }}" />
        <ion-card-header>
          <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-infinite-scroll (ionInfinite)="loadMorePokemons()" threshold="100px">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
