<ion-header>
  <ion-toolbar>
    <ion-title>PokeExplorer</ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="color-palette-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container slides-per-view="1.2" space-between="10">
    <swiper-slide *ngFor="let p of pokemons">
      <ion-card>
        <img [src]="p.image" alt="{{ p.name }}" />
        <ion-card-header>
          <ion-card-title>{{ p.name | titlecase }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <ion-infinite-scroll (ionInfinite)="loadMorePokemons($event)" threshold="100px">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
